@model FloCares.Models.Entities.Schedule

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Schedules</h5>

        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="collapse"></a></li>
                <li><a data-action="reload"></a></li>
                <li><a data-action="close"></a></li>
            </ul>
        </div>
        @if (TempData["error"] != null)
        {
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                @TempData["error"]
            </div>
        }

        @if (TempData["success"] != null)
        {
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                @TempData["success"]
            </div>
        }
    </div>

    <div class="panel-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DoctorId" class="control-label"></label>
                <select asp-for="DoctorId" class="form-control" asp-items="ViewBag.DoctorId"></select>
            </div>
            <div class="content-group-lg">
                <label asp-for="StartDate" class="control-label"></label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon-calendar5"></i></span>
                    <input type="text" asp-for="StartDate" class="form-control pickadate-accessibility" placeholder="Pick a Date;">
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
            </div>

            <div class="content-group-lg">
                <label asp-for="EndDate" class="control-label"></label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon-calendar5"></i></span>
                    <input type="text" asp-for="EndDate" class="form-control pickadate-accessibility" placeholder="Pick a Date;">
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
            </div>

            @*<div class="content-group-lg">
                    <label asp-for="PatientTime" class="control-label"></label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon-alarm"></i></span>
                        <input type="text" asp-for="PatientTime" class="form-control pickatime-editable" placeholder="Pick a Time;">
                    </div>
                </div>*@

            <div class="content-group-lg">
                <label asp-for="PatientTime" class="control-label"></label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon-calendar5"></i></span>
                    <input type="text" asp-for="PatientTime" class="form-control pickadate-accessibility" placeholder="Pick a Date;">
                    <span asp-validation-for="PatientTime" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" asp-items="@Html.GetEnumSelectList(typeof(FloCares.Models.Entities.EntityStatus))" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="text-left">
                <button type="reset" class="btn btn-default" id="reset">Reset <i class="icon-reload-alt position-left"></i></button>
                <button type="submit" class="btn btn-primary">Save <i class="icon-arrow-right14 position-left"></i></button>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
